@import url(./ghost.css);

div#ghost-examples {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#ghost-input-examples {
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    max-width: 800px;
}

button, input {
    width: 100%;
    margin-bottom: 10px;
}

h1#title {
    margin-bottom: 5px;
}

.view-code {
    border: 1px solid;
}

code {
    padding: 10px 30px;
    text-align: left;
    margin-top: 10px;
    height: auto;
    font-size: large;
    border-radius: 5px;
    border: none;
    background-color: var(--phantom-purple-light);
    color: var(--ectoplasm-green-bright);
}

img.eye {
    cursor: pointer;
    width: 5%;
    content: url(../images/eye-solid.svg);
}

code:hover {
    max-height: 100%;
}

span {
    display: block;
}

div.example {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

label {
    text-decoration: underline;
}

div.hidden-dropdown {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s ease-out;
}

img.eye:hover + div.hidden-dropdown, div.hidden-dropdown:hover {
    max-height: 300px;
    transition: max-height .5s ease-in;
}

hr {
    margin: auto 40px;
}

@media (min-width: 480px) {

    div#ghost-input-examples {
        grid-template-columns: 1fr 1fr;
    }
}