/* ============ *
 * Ghost V1.0.1 *
 * ============ */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Inconsolata&family=Lacquer&family=Montserrat+Alternates:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* Primaries & Secondaries */
    --default-background-color: var(--ghost-white);
    --primary-color: var(--ectoplasm-green);
    --secondary-color: var(--deep-phantom-purple);
    --primary-background-color: var(--deep-phantom-purple);
    --secondary-background-color: var(--ectoplasm-green);
    /* Ghost Color Types */
    --phantom-purple: rgb(48, 37, 64);
    --phantom-purple-light: rgb(65, 50, 88);
    --deep-phantom-purple: rgb(32, 25, 43);
    --deep-phantom-purple-smoky: rgba(32, 25, 43, .9);
    --deep-phantom-purple-misty: rgb(32, 25, 43, .65);
    --deep-phantom-purple-light: rgb(32, 25, 43, .5);
    --ghost-white: rgb(248, 248, 255);
    --ghost-white-heavy: rgb(220, 220, 220);
    --ectoplasm-green: rgb(0, 201, 167);
    --ectoplasm-green-bright: rgb(46, 204, 113);
    /* Ghost Fonts */
    --phantom-font-drip: 'Lacquer', cursive;
    --phantom-font-flat: 'Montserrat Alternates', sans-serif;
}

/* ============ *
 *  TEXT FLAGS  *
 * ============ */
.ghost-fc-ecto {
    color: var(--ectoplasm-green);
}

.ghost-fc-ecto-bright {
    color: var(--ectoplasm-green-bright);
}

.ghost-fc-deep-phantom {
    color: var(--deep-phantom-purple);
}

.ghost-font-drip {
    font-family: var(--phantom-font-drip);
}

.ghost-font-flat {
    font-family: var(--phantom-font-flat);
}

/* ================== *
 *  TRANSITION FLAGS  *
 * ================== */
.ghost-trans-slow {
    transition: 0.8s ease-in-out;
}

.ghost-trans-med {
    transition: 0.5s ease-in-out;
}

.ghost-trans-fast {
    transition: 0.25s ease-in-out;
}

/* ============ *
 *  BACKGROUND  *
 * ============ */
.ghost-bgc-deep-phantom {
    background-color: var(--deep-phantom-purple);
}

.ghost-bgc-deep-phantom-light {
    background-color: var(--deep-phantom-purple-light);
}

.ghost-bgc-phantom {
    background-color: var(--phantom-purple);
}

.ghost-bgc-phantom-light {
    background-color: var(--phantom-purple-light);
}

.ghost-bgc-gwhite-heavy {
    background-color: var(--ghost-white-heavy);
}

/* ========= *
 *  BORDERS  *
 * ========= */
.ghost-borderless {
    border: none;
}

.ghost-border-thin {
    border: 1px solid;
}

.ghost-border-thick {
    border: 2px solid;
}

/* ============= *
 *  BASE STYLES  *
 * ============= */
body {
    
}

.pointer {
    cursor: pointer;
}

/* ============== *
 *  INPUT STYLES  *
 * ============== */
button, input[type='submit'], input[type='button'] {
    padding: 10px;
    border-radius: 15px;
    font-family: var(--phantom-font-flat);
    background-color: var(--default-background-color)
}

.ghost-bgc-hover:hover {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

.ghost-bgc-hover-invert:hover {
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}

