/* ============ *
 * Ghost V1.0.1 *
 * ============ */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Inconsolata&family=Lacquer&family=Montserrat+Alternates:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* Primaries & Secondaries */
    --base-color: var(--phantom-purple);
    --base-color-offset: var(--ectoplasm-green-bright);
    --primary-color: var(--ectoplasm-green);
    --secondary-color: var(--deep-phantom-purple);
    /* Ghost Color Types */
    --phantom-purple: rgb(48, 37, 64);
    --phantom-purple-light: rgb(65, 50, 88);
    --deep-phantom-purple: rgb(32, 25, 43);
    --ghost-white: rgb(248, 248, 255);
    --ghost-white-heavy: rgb(220, 220, 220);
    --ectoplasm-green: rgb(0, 201, 167);
    --ectoplasm-green-bright: rgb(46, 204, 113);
    /* Ghost Fonts */
    --phantom-font-drip: 'Lacquer', cursive;
    --phantom-font-flat: 'Montserrat Alternates', sans-serif;
}

/* =============== *
 *  UTILITY FLAGS  *
 * =============== */
.pointer {
    cursor: pointer;
}

.pad-10 {
    padding: 10px;
}

.pad-20 {
    padding: 20px;
}

/* ============ *
 *  TEXT FLAGS  *
 * ============ */
.font-drip {
    font-family: var(--phantom-font-drip);
}

.font-flat {
    font-family: var(--phantom-font-flat);
}

/* ================== *
 *  TRANSITION FLAGS  *
 * ================== */
.slow {
    transition: 0.8s ease-in-out;
}

.medium {
    transition: 0.5s ease-in-out;
}

.fast {
    transition: 0.25s ease-in-out;
}

/* ======= *
 *  COLOR  *
 * ======= */
.color-base {
    color: var(--base-color-offset);
    background-color: var(--base-color);
}

.color-primary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.color-secondary {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.color-base.hover:hover {
    color: var(--base-color);
    background-color: var(--base-color-offset);
}

.color-primary.hover:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.color-secondary.hover:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.transparent {
    background-color: rgb(0, 0, 0, 0);
}

/* ========= *
 *  BORDERS  *
 * ========= */
.borderless {
    border: none;
}

.border-thin {
    border: 1px solid;
}

.border-thick {
    border: 2px solid;
}

/* ============== *
 *  INPUT STYLES  *
 * ============== */
button, input[type='submit'], input[type='button'] {
    padding: 10px;
    border-radius: 15px;
    font-family: var(--phantom-font-flat);
}

/* ============ *
 *  CONTAINERS  *
 * ============ */
.flex-100 {
    display: flex;
    width: 100%;
}

.align-center {
    justify-content: center;
    align-items: center;
}