/* ============ *
 * Ghost V1.0.1 *
 * ============ */
 @import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Inconsolata&family=Lacquer&family=Montserrat+Alternates:wght@300&display=swap');

 * {
    box-sizing: border-box;
 }
 
 :root {
    --phantom-purple: rgb(48, 37, 64);
    --deep-phantom-purple: rgb(32, 25, 43);
    --deep-phantom-purple-smoky: rgba(32, 25, 43, .9);
    --deep-phantom-purple-misty: rgb(32, 25, 43, .65);
    --deep-phantom-purple-light: rgb(32, 25, 43, .5);
    --ghost-white: rgb(248, 248, 255);
    --ghost-white-heavy: rgb(220, 220, 220);
    --ectoplasm-green: rgb(0, 201, 167);
    --ectoplasm-green-bright: rgb(46, 204, 113);
    --phantom-font-drip: 'Lacquer', cursive;
    --phantom-font-flat: 'Montserrat Alternates', sans-serif;
 }

/* ============= *
 *  BASE STYLES  *
 * ============= */
body {
    
}