@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Inconsolata&family=Lacquer&family=Montserrat+Alternates:wght@300&display=swap');

:root {
    /* Color Schemes */
    --primary-col: rgb(252, 251, 255);
    --secondary-col: rgb(48, 37, 64);
    --tertiary-col: rgb(0, 201, 167);
    --quaternary-col: rgb(32, 25, 43);
    /* Font */
    --primary-font: 'Monts1errat Alternates', sans-serif;
    /* Borders */
    --thin-border: 1px;
    --medium-border: 2px;
    --thick-border: 3px;
    --default-border-style: solid;
    /* Transition speeds */
    --slow-transition: 0.8s;
    --medium-transition: 0.5s;
    --fast-transition: 0.25s;
}

* {
    font-family: var(--primary-font);
}

/* =============== *
 *  UTILITY FLAGS  *
 * =============== */
.pointer {
    cursor: pointer;
}

/* ============ *
 *    HEIGHT    *
 * ============ */
.h-100 {
    height: 100%;
}

.h-2rem {
    height: 2rem;
}

.h-4rem {
    height: 4rem;
}

.h-8rem {
    height: 8rem;
}

/* ============ *
 *     WIDTH    *
 * ============ */
.w-100 {
    width: 100%;
}

.w-2rem {
    width: 2rem;
}

.w-4rem {
    width: 4rem;
}

.w-8rem {
    width: 8rem;
}

/* ============ *
 *    MARGIN    *
 * ============ */
.margin-0 {
    margin: 0;
}

/* ============== *
 *      FLEX      *
 * ============== */
.flex {
    display: flex;
}

/* ============== *
 *      GRID      *
 * ============== */
.grid {
    display: grid;
}

/* ================== *
 *  FLEX/GRID SHARED  *
 * ================== */
.fg-centered, .fg-centered-x {
    justify-content: center;
}

.fg-centered, .fg-centered-y {
    align-items: center;
}

/* ============= *
 *    BORDERS    *
 * ============= */
.borderless {
    border: none;
}

.border-thin {
    border: var(--thin-border) var(--default-border-style);
}

.rounded-4px {
    border-radius: 0.25rem;
}

.rounded-8px {
    border-radius: 0.5;
}

/* ============= *
 *    PADDING    *
 * ============= */
.pad-1half {
    padding: 0.5rem;
}

.pad-1rem {
    padding: 1rem;
}

.pad-2rem {
    padding: 2rem;
}

/* ====================== *
 *    BACKGROUND COLOR    *
 * ====================== */
.bgc-primary {
    background-color: var(--primary-col);
}

.bgc-secondary {
    background-color: var(--secondary-col);
}

.bgc-tertiary {
    background-color: var(--tertiary-col);
}

.bgc-quaternary {
    background-color: var(--quaternary-col);
}

.hover-bgc-primary:hover {
    background-color: var(--primary-col);
}

.hover-bgc-secondary:hover {
    background-color: var(--secondary-col);
}

.hover-bgc-tertiary:hover {
    background-color: var(--tertiary-col);
}

/* ================ *
 *    TRANSITION    *
 * ================ */
.trans-slow {
    transition: all var(--slow-transition);
}

.trans-medium {
    transition: all var(--medium-transition);
}

.trans-fast {
    transition: all var(--fast-transition);
}